@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../../../img/fundo-inicial.jpg);
    background-size: cover;
    box-shadow: -2px 3px 400px 200px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -2px 3px 400px 200px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -2px 3px 400px 200px rgba(0,0,0,0.75) inset;
    background-position: center center;
}

nav {
    width: 100vw;
    height: 30px;
    background-image: linear-gradient(to bottom , black, transparent);
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

#logo-netflix {
    margin-left: 30px;
    width: 150px;
    height: 60px;
}

#botao-entrar{
    margin-right: 30px;
}

#botao-entrar > a > button {
    width: 90px;
    height: 35px;
    color: white;
    background-color: red;
    border: 0px solid ;
    border-radius: 3px;
}
#textos{
    position: relative;
    margin: 16%;
    display: flex;
    justify-content: center;
}
#textos > div {
    text-align: center;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#textos > div > h1 {
    font-size: 50px;
    width: 100vw;
    margin-bottom: 20px;
}

#textos > div > h2 {
    margin-bottom: 25px;
    font-weight: lighter;
    font-size: 25px;
    width: 100vw;
}

#textos > div > p {
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 20px;
    width: 100vw;
}

#email {
    color: white;
    margin-top: 10px;
    width: 400px;
    height: 55px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.324);
    border-radius: 3px;
    border: 0.3px solid rgba(255, 255, 255, 0.702);
}

#vamos-la {
    width: 150px;
    height: 55;
    cursor: pointer;
    display: inline-block;
    background-color: red;
    padding: 17px;
    border-radius: 3px;

}

#email-valido{
    display: none;
}

#email-vazio{
    background-color: red;
    width: 423px;
    height: 20px;
    padding-top: 4px;
    position: relative;
    left: 24.3%;
    border-radius: 0px 0px 6px 6px;
    display: none;
}