@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../../img/fundo-inicial.jpg);
    background-size: cover;
    box-shadow: -2px 3px 400px 200px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -2px 3px 400px 200px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -2px 3px 400px 200px rgba(0,0,0,0.75) inset;
    background-position: center center;
}

#entrar {
    position: absolute;
    background-color: black;
    color: white;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 6px;
}