*{
    padding: 0px;
    margin: 0px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;;
}

body{
    height: 100vh;
    width: 100vh;
    background-color: black;
}

#logo-netflix{
    width: 150px;
}

#quem{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: end;
}
h1{
    color: white;
    font-size: 30px;
    position: relative;

}

#perfil{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    pointer-events: none;
    width: 100px;
}

a{
    margin-right: 60px;
}

#nomes{
    color: rgba(255, 255, 255, 0.679);
    display: block;
    font-size: 18px;
}

#Ana{
    pointer-events: none;
    cursor: context-menu;
    position: absolute;
    top: 63%;
    left: 23.2%;
}
#Abraão{
    pointer-events: none;
    cursor: context-menu;
    position: absolute;
    top: 63%;
    left: 33.7%;
}
#Aderbal{
    pointer-events: none;
    cursor: context-menu;
    position: absolute;
    top: 63%;
    left: 45.5%;
}
#Ivano{
    pointer-events: none;
    cursor: context-menu;
    position: absolute;
    top: 63%;
    left: 58%;
}
#Eliana{
    pointer-events: none;
    cursor: context-menu;
    position: absolute;
    top: 63%;
    left: 69.6%;
}